@import url('https://fonts.googleapis.com/css2?family=Alata&family=Fraunces:opsz,wght@9..144,700&family=Josefin+Sans:wght@300&display=swap');
:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --DarkGray: hsl(0, 0%, 55%);
    --VeryDarkGray: hsl(0, 0%, 41%);
}

html {
    font-size: 15px;
}

body {
    margin: 0px;
    padding: 64px 11.3% 0px 11.3%;
    background-image: url(./images/desktop/image-hero.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

nav {
    color: white;
}

#nav-bar {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-items {
    flex-flow: end;
    display: flex;
    font-family: 'Alata', sans-serif;
    gap: 34px;
    align-items: center;
}

.first-item {
    height: 37em;
    position: relative;
    display: flex;
    flex-direction: column;
}

.first-item-title {
    border: solid white 2px;
    color: white;
    margin-right: 41.5%;
    margin-top: 11.6%;
    padding: 2.6rem 0 1.5rem 2.6rem;
    font-size: 4.8rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}

.section-2 {
    position: relative;
    margin: 14% 0%;
    display: flex;
}

.text-box {
    position: absolute;
    justify-content: space-between;
    background-color: var(--White);
    bottom: 0%;
    right: 0%;
    padding-left: 8.8%;
    padding-top: 8.7%;
    box-sizing: border-box;
    height: 21.2rem;
    width: 49%;
    display: flex;
    flex-direction: column;
}

.text-box>h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 3.2rem;
    margin: 0px;
}

.text-box>p {
    color: var(--DarkGray);
    font-family: 'Alata', serif;
    line-height: 1.7em;
    margin: 0px;
}

.section-3 {}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38px 0px;
}

.section-header>h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.2rem;
    font-weight: 100;
}

button {
    font-family: 'Alata', sans-serif;
    background-color: transparent;
    border: 1px black solid;
    font-size: 1.0rem;
    letter-spacing: 0.3em;
    padding: 0.6em 2.5em;
}

.section-body {
    color: var(--White);
    display: grid;
    gap: 28px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card {
    color: var(--White);
    position: relative;
}

.card-img {
    object-fit: cover;
    width: 100%;
}

.card-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.0rem;
    font-weight: 200;
    position: absolute;
    bottom: 1%;
    left: 15.2%;
    margin-right: 10%;
    z-index: 2;
}

.overlay {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.664));
    height: 100%;
    width: 100%;
    position: absolute;
}

footer {
    background-color: black;
    color: white;
    height: 160px;
    width: 100vw;
    position: absolute;
    left: 0px;
    margin-top: 180px;
    display: flex;
    padding: 0 11.3%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer-nav {
    display: flex;
    gap: 20px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-links {
    display: flex;
    gap: 20px;
}

.footer-right>p {
    text-align: right;
    color: var(--DarkGray);
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media screen and (max-width:960px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    body {
        margin: 0px;
        padding: 39px 6% 0px 6%;
        background-image: url(./images/mobile/image-hero.jpg);
        box-sizing: border-box;
    }
    nav {
        color: white;
    }
    #nav-bar>img {
        height: 24px;
    }
    #nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-items {
        display: none;
    }
    .first-item {
        height: 37em;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .first-item-title {
        border: solid white 2px;
        color: white;
        margin-right: 0px;
        padding: 0.72em 0.2em;
        margin-top: 0%;
        font-size: 2.9rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 100;
    }
    .section-2 {
        position: relative;
        margin: 14% 0%;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .text-box {
        position: static;
        justify-content: space-between;
        background-color: var(--White);
        padding-left: 0%;
        padding-top: 8.7%;
        box-sizing: border-box;
        height: 21.2rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .text-box>h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 100;
        font-size: 2.2rem;
        margin: 0px;
    }
    .text-box>p {
        color: var(--DarkGray);
        font-family: 'Alata', serif;
        line-height: 1.7em;
        margin: 0px;
    }
    /* Section 3 */
    .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
    }
    .section-header>h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2.6rem;
        font-weight: 100;
    }
    button {
        font-family: 'Alata', sans-serif;
        background-color: transparent;
        border: 1px black solid;
        font-size: 1.0rem;
        letter-spacing: 0.3em;
        padding: 0.6em 2.5em;
    }
    .section-body {
        color: var(--White);
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
    .card {
        color: var(--White);
        position: relative;
    }
    .card-img {
        object-fit: cover;
        width: 100%;
    }
    .card-title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2.0rem;
        font-weight: 200;
        position: absolute;
        bottom: 1%;
        left: 15.2%;
        margin-right: 10%;
        z-index: 2;
    }
    /* Footer */
    footer {
        background-color: black;
        color: white;
        height: auto;
        width: 100vw;
        padding: 9%;
        position: absolute;
        left: 0px;
        margin-top: 120px;
        display: flex;
        gap: 40px;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
    }
    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-links {
        display: flex;
        gap: 20px;
    }
    .footer-right>p {
        text-align: right;
        color: var(--DarkGray);
    }
    /* Drawer */
    .drawer {
        position: fixed;
        z-index: 999;
        width: 100vw;
        height: 100vh;
        left: 0px;
        padding: 32px;
        box-sizing: border-box;
        top: 0px;
        display: none;
        flex-direction: column;
        gap: 30%;
        color: white;
        background-color: black;
    }
    .drawer-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
    }
    .drawer-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 80%;
        font-size: x-large;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
    }
}